body {
    background-image: linear-gradient(#fbc2eb, #a6c1ee, #fbc2eb)
}

.mx-auto {
    max-width: 1000px;
    margin-top: 40px;
    border: 1px solid grey;
    padding: 20px;
    box-shadow: -50px 58px 15px 0px rgba(0, 0, 0, 0.1);

    .To-Do {
        h1 {
            font-size: 50px;
            background: -webkit-linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
            text-align: center;
        }
    }

    .input-group {
        #TaskName {
            box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
            border: 1px solid rgb(0, 0, 0);
            background-color: transparent;
        }

        #addTask {
            box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
            height: 50px;
            font-weight: bold;
            border: black 1px solid;
            cursor: pointer;
            background-image: linear-gradient(120deg, #79ddfc 0%, #309bb3 100%);
        }
    }

    .display {
        box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
        border: 1px solid grey;
        height: 500px;
        overflow: auto;
    }

    .display::-webkit-scrollbar {
        background-color: #faace4;
    }

    .display::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(#81cfe9, #81cfe9);
    }
}